QWidget {
	font: 15pt Arial;
	background: white;
	color: black;
}

QTextEdit#area { 
	text-align: bottom;
	border: none;
	padding-right: 10; 
	padding-left: 10; 
	padding-top: 10; 
	padding-bottom: 10;

}

QPushButton#send {
	max-width: 50px;
}

QPushButton#acceder {
	background: #86B2B3;
	border: none;
}

QLineEdit#msg {
	border: none;
    max-width: 630px;
}